ul {
    clear: both;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,Geneva,"Lucida Grande",sans-serif;
}

#bridge-notification-banner {
  background: #346094;
  color: white;
  font-size: 35px;
  text-shadow: none;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#twitterfeed {
  text-align: center;
}

#header {
  text-align: center;
}

#banner {
  background:url('../img/logo.png');
  background-repeat: no-repeat;
  width:100%;
  height:150px;
}

#bridges {
}

.bridge {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  text-align: left;
}

.led {
    clear: both;
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.content {
    position: absolute;
}

.bar-header-secondary>input {
    margin-top: 6px;
    height: 31px;
}

.table-view {
    margin: 0 !important;
    border: none;
}

.details h1 {
    padding-top: 16px;
    font-size: 18px;
}

.media-object {
    width: 42px;
    height: 42px;
    border-radius: 25px;
}

.icon-call {
    background: transparent url(images/ic_action_phone_outgoing.png);
    background-repeat: no-repeat;
}

.icon-sms {
    background: transparent url(images/ic_action_dialog.png);
    background-repeat: no-repeat;
}

.icon-mail {
    background: transparent url(images/ic_action_mail.png);
    background-repeat: no-repeat;
}

.icon-manager {
    background: transparent url(images/ic_action_user.png);
    background-repeat: no-repeat;
}

.icon-reports {
    background: transparent url(images/ic_action_users.png);
    background-repeat: no-repeat;
}

.icon-contact {
    background: transparent url(images/ic_action_add.png);
    background-repeat: no-repeat;
}

.icon-location {
    background: transparent url(images/ic_action_location.png);
    background-repeat: no-repeat;
}

/* LED styling */


.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}
