<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bridge Status</title>
  <meta charset="UTF-8" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script>
    setInterval(function() {
      $("#bridges").text("");
      $.getJSON("/bridges", function (data) {
        if (data) {
          $.each(data, function (bridge) {
            $("#bridges").append(
              "<div class='bridge'>" +
                bridge +
                ": " +
                (
                  data[bridge].status
                    ? "up"
                    : "down"
                ) +
              "</div><br>"
            );
          });
        }
      });
    }, 1000);
  </script>
  <style media="screen">
    .bridge {
      background-color: white;
    }
    #message, #count{
      text-align: center;
      padding: 10px 0px;
    }
  </style>
</head>
<body style="background-color:black;">
  <div id="bridges">

  </div>
</body>
</html>
